.content__zoom
{
    background: #333;
    color: #fff;

    position: absolute;
    top: 5px;
    right: 5px;

    display: none;

    cursor: pointer;

    width: 25px;
    height: 25px;

    line-height: 25px;
    text-align: center;
    font-size: 130%;

    -moz-opacity: .6;
    opacity: .6;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.content__preview:hover .content__zoom
{
    -moz-opacity: .85;
    opacity: .85;
}