.menu__item
{
    display: inline-block;
    position: relative;
}

.menu__item .link
{
    color: #ddd;
    font-weight: 700;

    padding: 14px 15px;

   -webkit-transition: background-color .3s ease-in;
   -moz-transition: background-color .3s ease-in;
   -o-transition: background-color .3s ease-in;
   -ms-transition: background-color .3s ease-in;
   transition: background-color .3s ease-in;
}

.menu__item .link:hover
{
    background: rgba(255, 255, 255, 0.18);
    color: #fff;

    opacity: 1;

    -webkit-transition: background-color .01s;
    -moz-transition: background-color .01s;
    -o-transition: background-color .01s;
    -ms-transition: background-color .01s;
    transition: background-color .01s;
}