.top__text
{
    background: url(top__text.gif) no-repeat 0 5px;

    font-weight: 700;
    color: #808080;

    position: fixed;
    top: 25px;
    left: 3%;

    width: 100px;
    height: 13px;

    opacity: 0.6;

    padding: 0 0 0 20px;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}